.wrapper{
    padding: 20px;
    position: absolute;
    bottom: 0;
}
.title{
    position: relative;
}

.title hr{
    border: 2px solid #D9D9D9;
}
.closeModal{
    position: absolute;
    right: 0;
    top: 0;
}