.titleBlock{
    composes: titleBlock from '../../App.css';
}
.titleInner{
    composes: container from '../../App.css';
    padding: 60px 0 30px;
}
.coordination{
    composes: coordination from '../../App.css';
}
.pageTitle{
    composes: pageTitle from '../../App.css';
    margin-top: 30px;
}
.blackString{
    color: black;
}

