.titleBlock{
    composes: titleBlock from '../../App.css';
}
.titleInner{
    composes: container from '../../App.css';
    padding: 60px 0 30px;
}
.coordination{
    composes: coordination from '../../App.css';
}
.pageTitle{
    composes: pageTitle from '../../App.css';
    margin-top: 30px;
}

.itemInner{
    display: flex;
    row-gap: 20px;
    align-items: center;
    padding: 60px 0 200px;
    flex-direction: column;
}
.item{
    width: 56%;
    padding: 15px 36px;
    background-color: #F6F6F6;
}
.itemTop{
    display: flex;
    column-gap: 50px;
    align-items: center;
    justify-content: space-between;
}
.btnPlus{
    border: none;
    outline: none;
    font-size: 40px;
    cursor: pointer;
    background-color: transparent;
}
.line{
    height: 3px;
    width: 100%;
    margin: 10px 0;
    background-color: #D9D9D9;
}
.itemLists li{
    line-height: 25px;
    list-style: inside;
}