.img{
    width: 50%;
}
.info{
    width: 31%;
    row-gap: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info h3{
    letter-spacing: 0.75em;
    font-size: 16px;
}
.info h2{
    font-size: 64px;
    font-weight: 600;
    letter-spacing: 5px;
}
.price{
    line-height: 40px;
    font-size: 24px;
    color: #5B6773;
}
.btns a{
    display: inline-block;
    vertical-align: middle;
}
.more{
    height: 40px;
    color: black;
    padding: 0 30px;
    font-weight: 700;
    line-height: 40px;
    border: 2px solid black;
    background-color: transparent;
}
.buy{
    border: none;
    height: 40px;
    color: white;
    padding: 0 30px;
    line-height: 40px;
    margin-left: 10px;
    background-color: #79B927;
}