.footer{
    background: #1C252E;
    padding: 50px 0 35px;
    color: #5B6773;
}

.footer-top , .links {
    display: flex;
}


/* footer top */
.footer-top{
    justify-content: space-between;
}
.links{
    gap: 60px;
}
.links a{
    color: #5B6773;
    font-weight: 600;
}