.footer{
    background: #1C252E;
}
.footer-top {
    display: flex;
}
/* footer top */


.footer-top{
    justify-content: space-between;
}
.links{
    gap: 60px;
}
.links a{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    opacity: 0.3;
}