* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.underlined {
  border-bottom: 3px solid #79B927;
}

.coordination {
  font-size: 14px;
  color: #5B677340;
  font-weight: 500;
}

.coordination span {
  color: black;
  font-weight: 700;
}

.pageTitle {
  font-size: 32px;
  font-weight: 700;
}

.titleBlock {
  margin-top: 153px;
  background-color: #F6F6F6;
}

.loader {
  grid-column: 1/4;
  justify-self: center;
}