.container{
    composes: container from '../../../App.css';
}
/* Top */
.popTop{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 90px 0 70px;
}

.title{
    font-size: 32px;
}
.choice{
    display: flex;
    gap: 40px;
}
.li{
    margin-bottom: 5px;
    cursor: pointer;
}
.underline{
    composes: underline from '../../../App.css';
    height: 3px;
}

/* cards */
.cardWrapper{
    display: grid;
    row-gap: 50px;
    padding: 0 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
.card{
    width: fit-content;
}
.cardInner{
    gap: 20px;
    display: flex;
    align-items: flex-end;
}
.cardTop{
    display: flex;
    justify-content: space-between;
}
.status{
    height: 22px;
    color: white;
    font-size: 12px;
    padding: 3px 15px;
    background-color: #79B927;
}
.weight{
    font-size: 12px;
    color: #88929E;
    line-height: 30px;
}
.img{
    width: 180px;
}
.arrow{
    margin: 25px 0 5px;
}
.price{
    font-size: 20px;
    text-align: end;
}

/* seeMore */
.seeMore{
    display: flex;
    align-items: center;
    margin: 60px 0 110px;
    justify-content: space-between;
}
.line{
    width: 40%;
    border: 1px solid #79B927;
}
.allProduct{
    cursor: pointer;
    font-weight: 700;
    padding: 10px 30px;
    background-color: transparent;
}